/* ==UserStyle==
@name         Discord No Title Bar
@version      2.0.0
@namespace    discord-no-title-bar
@description  A simple userstyle that removes Discord's new title bar.
@author       Coxxs
@license      MIT
==/UserStyle== */

@-moz-document url-prefix("https://discord.com/") {

/* Remove top bar */
.visual-refresh { --custom-app-top-bar-height: 0px }

/* Preserve inbox button */
[class *= "trailing"] { position: absolute; top: 12px; right: 10px; z-index: 101 }
.density-compact [class *= "trailing"] { top: 10px }
.density-cozy [class *= "trailing"] { top: 13px }
/* [class *= "trailing"] > [aria-label = "Inbox"] { display: flex } */

/* Provide some space for the inbox */
[class *= "toolbar"] { padding-right: 40px }

/* Padding above the Discord icon (top left) */
[class *= "stack"] { padding-top: var(--space-xs, 8px) }

/* Remove help button */
[class *= "trailing"] > [href *= "support.discord.com"] { display: none }

/* Remove buttons other than inbox */
/* [class *= "trailing"] > :not([aria-label = "Inbox"]) { display: none } */

/* Remove rounded corner and top border */
[class *= "sidebarListRounded"], /* Corner */
[class *= "bannerVisible"] > header, /* Server banner */
[class *= "page"] > *,      /* Friends, Discover, and Quests */
[class *= "page"] > * > *,  /* Chats, Message Requests, and Channels & Roles (difficult to pinpoint by substring) */
[class *= "homeWrapper"]    /* Nitro (3 levels below "page" so selecting by name to be safe) */
    { border-radius: 0 !important; border-top: none !important }

}
